# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
node_modules/
__pycache__/
*.py[cod]
*.sqlite3
*.db
.DS_Store
.env
.venv/
.venv/*
.env.*